body {
	min-width: 770px
}

#content {
	padding-right: 165px
}

#mainCol {
	margin-right: -165px;
	float: right;
	width: 100%
}

div {
	margin: 0;
	padding: 0
}

#header img.logo {
	float: left;
	margin-top: 10px;
	border: 0
}

.clearfix:before, .clearfix:after, .modal-footer:before, .modal-footer:after
	{
	content: " ";
	display: table
}

.clearfix:after, .modal-footer:after {
	clear: both
}
#header div.headerContent .button.flush {
	min-width: 30px;
	padding: 5px 5px
}

.ie9 #header div.headerContent .button.flush {
	padding: 5px 5px 4px !important
}
.align-left {
	text-align: left
}

.align-right {
	text-align: right
}

.align-center {
	text-align: center
}

img.align-left {
	float: left;
	margin-right: 10px
}

img.align-right {
	float: right;
	margin-left: 10px
}

img.align-center {
	display: block;
	margin: 0 auto
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table
}

.clearfix:after {
	clear: both
}

.ie7 .clearfix {
	zoom: 1
}

.clearfix-overflow {
	overflow: hidden;
	zoom: 1
}

.ie7 .clearfix-overflow {
	overflow: visible
}

.clearing {
	clear: both;
	height: 1px;
	line-height: 1px
}

.clearLeft {
	clear: left;
	line-height: 1px
}

.clearBoth {
	clear: both
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

.form-group {
	margin: 1em 0
}

.form-group:before, .form-group:after {
	content: " ";
	display: table
}

.form-group:after {
	clear: both
}

@media only screen and (max-width:767px) {
	.form-group {
		margin: 1.5em 0
	}
}

.ie6 .form-group, .ie7 .form-group {
	zoom: 1
}

#loginPage, #registrationPage {
	background: #ddd;
	background-size: cover
}

#loginPage div.leftShadow {
	width: 400px;
	margin: 50px auto 0 auto
}

#loginPage form {
	overflow: visible
}

#loginPage form.floated label, #loginPage form.floated span.empty {
	width: 90px
}

#loginPage form.floated label.checkbox {
	width: 195px
}

#topStrip {
	background: #444;
	border-bottom: 1px solid #aaa;
	height: 10px
}

#topStrip .pageWrapper {
	height: 10px
}

#topStrip a {
	line-height: 1.9em;
	color: #fff;
	font-weight: normal
}

#topStrip.langSelect {
	font-size: 0.83333333333333em;
	height: auto;
	min-height: 20px;
	color: #ccc;
	display: block
}

#topStrip.langSelect a {
	color: inherit
}

.box {
	width: 400px;
	margin: auto auto 1.5em auto;
	position: relative;
	top: 10%;
	border-radius: 10px;
	background: #fff;
	background: rgba(255, 255, 255, 0.92);
	box-shadow: 0 0 50px rgba(0, 0, 2, 0.5)
}

@media only screen and (max-width:430px) {
	.box {
		top: 0;
		width: 100%;
		border-radius: 0;
		box-shadow: none
	}
}

.box__header {
	border-radius: 10px 10px 0 0;
	background: #fff;
	padding: 25px
}

.box__inner {
	padding: 25px;
	border-top: 1px solid #ddd
}

.box__inner>:last-child {
	margin-bottom: 0
}

.box__inner>:first-child {
	margin-top: 0
}

.box__inner+.box__footer {
	border-top: 1px solid #ddd
}

.box__footer {
	border-radius: 0 0 10px 10px;
	background: #fff;
	padding: 25px
}

.box__footer p {
	margin: 0
}

.box--centered {
	text-align: center
}

.box--centered img {
	margin-right: auto;
	margin-left: auto
}

.modal .box {
	box-shadow: none;
	background: #fff
}

.box--wide {
	width: 550px
}

div.logo {
	padding-left: 25px
}

div.logo img {
	border: 0;
	display: block
}

div.loginForm {
	padding: 0 25px 18px 25px
}

div.loginContentPanel {
	padding: 10px 25px
}

#footer {
	background-color: #fff;
	color: #999;
	margin: 2em 0 2em 165px;
	clear: both;
	border-top: 1px solid #d5d5d5;
	padding: 12px 0;
	font-size: 90%
}

.form--login .form-label {
	display: none
}

.form--login .form-controls {
	position: relative
}

.form--login input[type="text"], .form--login input[type="password"] {
	background-color: rgba(255, 255, 255, 0.9);
	border: 1px solid #ddd;
	padding-left: 34px;
	padding-top: 1em;
	padding-bottom: 1em;
	box-shadow: none;
	border-radius: 4px;
	transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
	-webkit-appearance: none
}

.form--login input[type="text"]:focus, .form--login input[type="password"]:focus
	{
	background-color: #fff;
	outline: none;
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.15)
}

.form--login input[type="text"]::-webkit-input-placeholder, .form--login input[type="password"]::-webkit-input-placeholder
	{
	color: #767676
}

.form--login input[type="text"]::-moz-placeholder, .form--login input[type="password"]::-moz-placeholder
	{
	color: #767676
}

.form--login input[type="text"]:-ms-input-placeholder, .form--login input[type="password"]:-ms-input-placeholder
	{
	color: #767676
}

.form--login .field-icon {
	position: absolute;
	left: 12px;
	top: 12px;
	color: #767676;
	font-size: 18px
}

@media only screen and (max-width:767px) {
	.form--login .field-icon {
		top: 15px
	}
}

.ie8 .form--login .form-label, .ie9 .form--login .form-label {
	display: block
}

.form-row__element {
	display: inline-block;
	margin-right: 20px
}

.form-row__element input[type="text"] {
	width: 100px
}

.form-error {
	position: relative;
	margin-top: 12px
}

.form-error:empty {
	margin-top: 0
}

.form-error__message::before {
	content: "";
	display: block;
	position: absolute;
	top: -10px;
	left: 0.5em;
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 15px solid #fce4e4
}

.form-error__message {
	width: auto;
	color: #aa3434;
	background: #fce4e4;
	border-radius: 5px;
	display: inline-block;
	padding: 0.5em 0.75em
}

.form-error+.checkbox {
	margin-top: 0.75em
}

.noTopMargin {
	margin-top: 0 !important
}

.noBottomMargin {
	margin-bottom: 0 !important
}

.noRightMargin {
	margin-right: 0 !important
}

.noLeftMargin {
	margin-left: 0 !important
}

.noTopPadding {
	padding-top: 0 !important
}

.noBottomPadding {
	padding-bottom: 0 !important
}

.noMargin {
	margin: 0 !important
}

.topMargin {
	margin-top: 1em
}

.bigTopMargin {
	margin-top: 1.5em
}

.extraBigTopMargin {
	margin-top: 40px
}

.smallTopMargin {
	margin-top: 0.75em
}

.bottomMargin {
	margin-bottom: 1em
}

.bigBottomMargin {
	margin-bottom: 1.5em
}

.smallRightMargin {
	margin-right: 0.75em
}

.smallLeftMargin {
	margin-left: 0.75em
}

.noTop {
	top: 0 !important
}

.noBottom {
	bottom: 0 !important
}

.disabled {
	color: #b0b0b0;
	cursor: auto
}

.disabled:hover {
	text-decoration: none !important;
	color: #b0b0b0 !important
}

.form-group-stacked .form-label {
	width: auto;
	float: none;
	padding: 0;
	display: block;
	margin-bottom: 0.25em
}

.form-group-stacked .form-controls {
	margin-left: 0;
	margin-top: 0
}

.form-group-stacked label.checkbox .required {
	position: static;
	left: 0
}

.form-controls>.checkbox:first-child {
	padding-top: 2px
}

.form-controls>:last-child {
	margin-bottom: 0
}

.form-controls .radioList {
	margin-bottom: 0
}

.form-controls {
	margin-left: 130px
}

.form-controls-value {
	padding-top: 2px
}

.form-controls label {
	display: block;
	margin-bottom: 5px
}

@media only screen and (max-width:767px) {
	.form-controls label {
		font-size: 16px
	}
}

.form-controls select {
	height: 22px
}

.form-controls input[type=text], .form-controls input[type=search],
	.form-controls input[type=password], .form-controls input[type=email],
	.form-controls textarea, .form-controls select {
	width: 50%;
	max-width: 300px;
	box-sizing: border-box
}

@media only screen and (max-width:767px) {
	.form-controls {
		margin-left: 0;
		float: none
	}
	.form-controls input[type="text"], .form-controls input[type="search"],
		.form-controls input[type="password"], .form-controls input[type="email"],
		.form-controls input[type="submit"], .form-controls textarea,
		.form-controls select {
		width: 100%;
		max-width: 100%;
		display: block;
		font-size: 16px
	}
	.form-controls input[type="text"], .form-controls input[type="search"],
		.form-controls input[type="email"], .form-controls input[type="password"],
		.form-controls textarea {
		padding: 7px 5px
	}
}

.form-actions {
	border-top: 1px solid #d5d5d5;
	padding: 1.5em 0;
	overflow: hidden;
	margin-top: 1.5em
}

.form-actions .button, .form-actions .cancelLink, .form-actions .advanced
	{
	float: left
}

.form-actions .floatRight {
	float: right
}

.form-actions .cancelLink, .form-actions .advanced {
	margin: 0.41666666666667em 0 0 1.5em
}

.form-actions-flush {
	padding-bottom: 0
}

@media only screen and (max-width:430px) {
	.form-actions {
		font-size: 16px
	}
	.form-actions .button, .form-actions .cancelLink, .form-actions .advanced
		{
		float: none;
		display: block;
		width: 100%;
		margin: 0
	}
	.form-actions .cancelLink, .form-actions .advanced {
		margin-top: 1em;
		text-align: center;
		border-left: 0;
		padding-left: 0
	}
}

.form-label80 .form-label, .form-group.form-label80 .form-label {
	width: 80px
}

.form-label80 .form-controls, .form-group.form-label80 .form-controls {
	margin-left: 90px
}

.form-label90 .form-label, .form-group.form-label90 .form-label {
	width: 90px
}

.form-label90 .form-controls, .form-group.form-label90 .form-controls {
	margin-left: 100px
}

.form-label100 .form-label, .form-group.form-label100 .form-label {
	width: 100px
}

.form-label100 .form-controls, .form-group.form-label100 .form-controls
	{
	margin-left: 110px
}

.form-label140 .form-label, .form-group.form-label140 .form-label {
	width: 140px
}

.form-label140 .form-controls, .form-group.form-label140 .form-controls
	{
	margin-left: 150px
}

@media only screen and (max-width:767px) {
	.form-label80 .form-controls, .form-group.form-label80 .form-controls,
		.form-label90 .form-controls, .form-group.form-label90 .form-controls,
		.form-label100 .form-controls, .form-group.form-label100 .form-controls,
		.form-label140 .form-controls, .form-group.form-label140 .form-controls
		{
		margin-left: 0
	}
}

.icon-user-md:before {
	content: "\e0d6"
}

.icon-user:before {
	content: "\e008"
}

.icon-lock:before {
	content: "\e021"
}

.form-label {
	float: left;
	width: 120px;
	font-weight: bold;
	padding-top: 2px
}

@media only screen and (max-width:767px) {
	.form-label {
		width: 100%;
		float: none;
		display: block;
		padding-top: 0;
		font-size: 16px;
		margin-bottom: 4px
	}
}

.form-label--light {
	font-weight: normal
}

.help-inline, .help-block {
	color: #767676
}

@media only screen and (max-width:767px) {
	.help-inline, .help-block {
		margin: 0.45em 0 0.75em 0;
		display: block;
		font-size: 16px
	}
}

.help-inline {
	margin-left: 5px
}

.help-block {
	margin: 0.25em 0 0.75em 0
}

.help-block>:first-child {
	margin-top: 0
}

.help-block>:last-child {
	margin-bottom: 0
}

.help-block.js-caps-warn {
	margin-top: 0.5em
}

.checkbox+.help-block {
	margin-top: -0.333em
}

.radioList+.help-block {
	margin-top: -0.16666666666667em
}

.button--block {
	box-sizing: border-box;
	width: 100%;
	display: block;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	background-color:#17bd17;
}

.button.button--caret-navigation {
	width: 34px;
	height: 34px;
	border: 1px solid #ccc;
	background: #f4f4f4;
	transition: all 0.3s linear;
	opacity: 0.5
}

.button.button--caret-navigation.button--prev {
	left: 17px
}

.button.button--caret-navigation.button--next {
	right: 17px
}

.button.button--caret-navigation:hover, .button.button--caret-navigation:focus
	{
	background: #fff
}

.button.button--caret-navigation .caret-right, .button.button--caret-navigation .caret-left
	{
	color: #5a5a5a;
	margin-left: 0;
	border-width: 6px;
	margin-top: -2px
}

.button[disabled], .button.is-disabled {
	transition: opacity ease-in 0.2s;
	opacity: 0.5;
	pointer-events: none
}

.button-match {
	display: inline-block;
	padding: 0.6em 0 0.5em 0;
	line-height: 18px
}

.button-bar {
	float: left
}

.button-bar:before, .button-bar:after {
	content: " ";
	display: table
}

.button-bar:after {
	clear: both
}

@media only screen and (max-width:600px) {
	.button-bar {
		width: 100%
	}
}

.button-bar>.button, .button-bar>.dropdown {
	float: left;
	margin-left: 1px
}

.button-bar>.button.button {
	margin-right: 0
}

.button-bar>.button, .button-bar>.dropdown>.button {
	border-radius: 0
}

@media only screen and (max-width:430px) {
	.button-bar>.button, .button-bar>.dropdown>.button {
		border-radius: 3px
	}
}

.button-bar>.button:first-child, .button-bar>.dropdown:first-child>.button
	{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px
}

@media only screen and (max-width:430px) {
	.button-bar>.button:first-child, .button-bar>.dropdown:first-child>.button
		{
		border-radius: 3px
	}
}

.button-bar>.button:first-child, .button-bar>.dropdown:first-child {
	margin-left: 0
}

.button-bar>.button:last-child, .button-bar>.dropdown:last-child>.button
	{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px
}

@media only screen and (max-width:430px) {
	.button-bar>.button:last-child, .button-bar>.dropdown:last-child>.button
		{
		border-radius: 3px
	}
}

.button-bar.is-disabled {
	position: relative
}

.button-bar.is-disabled::after {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: #fff;
	opacity: 0.8
}

.hoverPreviewImageOuter {
	z-index: 2000;
	position: absolute;
	width: 1%;
	display: table;
	background-color: transparent;
	cursor: pointer
}

.popup .hoverPreviewImageOuter, #popup .hoverPreviewImageOuter {
	margin-bottom: 10px;
	margin-right: 10px
}

.hoverPreviewImage {
	box-shadow: 0 0 5px 0 #666
}

.hoverPreviewImage img {
	display: block;
	height: auto;
	width: auto;
	max-height: 370px;
	max-width: 420px
}

.hoverPreviewImage>div {
	background: #fff;
	padding: 1em;
	text-align: center;
	height: auto;
	overflow: hidden
}

.ie7 .hoverPreviewImage {
	width: auto
}

.hoverPreviewImage div ul {
	margin: 0
}

#header div.pageWrapper {
	overflow: inherit !important
}

div.pageWrapper.has-lbStrip {
	margin-bottom: 100px
}

.pageWrapper {
	max-width: 1200px;
	min-width: 810px;
	margin: 0 auto;
	padding: 0 3.5%;
	height: 1%
}

.is-wide .pageWrapper {
	max-width: 1260px
}

.lbStrip {
	position: fixed;
	bottom: 0;
	z-index: 100;
	width: 96%;
	background: #f5f5f5;
	border-top: 1px solid #d5d5d5;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
	padding: 1em 2% 0 2%
}

.lbStrip-controls {
	float: left;
	width: 18%
}

.lbStrip-thumbs {
	width: 78%;
	margin-left: 20%
}

@media only screen and (max-width:1024px) {
	body {
		position: relative
	}
	body, div.pageWrapper {
		max-width: 100%;
		min-width: inherit
	}
	div.pageWrapper {
		padding: 0 3.5%
	}
	#footer {
		margin: 1em 0 0
	}
	#content {
		padding-right: 0
	}
	#content, #mainCol {
		float: none;
		margin-right: 0 !important
	}
	html[dir="rtl"] #content {
		padding-left: 0
	}
	html[dir="rtl"] #content, html[dir="rtl"] #mainCol {
		float: none;
		margin-left: 0
	}
	html[dir="rtl"] #footer {
		margin: 1em 0 0
	}
}

#footer
 
a
{
font-weight
:
normal
}
.box--published-lightbox
{
max-width
:
1140px;
width
:
auto;
margin
:
auto
auto
5.5em
auto;
top
:
7%
}
@media only screen and (max-width:1024px) {
	.box--published-lightbox {
		top: 3%;
		margin: 0
	}
}

@media only screen and (max-width:430px) {
	.box--published-lightbox {
		top: 0;
		width: 100%;
		border-radius: 0;
		margin: 0;
		box-shadow: none;
		min-width: 320px
	}
}

.box--published-lightbox
 
.box__header
{
padding
:
25px
40px;
position
:
relative
}
@media only screen and (max-width:430px) {
	.box--published-lightbox .box__header {
		height: auto
	}
}

.box--published-lightbox
 
.box__header
 
.logo
 
img
{
max-height
:
50px
}
@media only screen and (max-width:430px) {
	.box--published-lightbox .box__header .logo {
		text-align: center;
		display: block
	}
}

.box--published-lightbox
 
.box__header
 
.button
{
position
:
absolute;
right
:
40px;
top
:
45%;
top
:
calc(
50%
-
 
16px
)
}
.box--published-lightbox
 
.box__header
 
.button
 
[
class
^=
"icon-"
]
{
padding-right
:
8px
}
@media only screen and (max-width:430px) {
	.box--published-lightbox .box__header .button {
		display: none
	}
}

.box--published-lightbox
 
.box__inner
{
padding
:
40px
40px
0
40px;
background
:
#f4f4f4;
background
:
rgba(
244
,
244
,
244
,
0.65
)
}
.box--published-lightbox
 
.box__footer
{
text-align
:
center;
padding
:
15px
40px
}
.box--published-lightbox
 
.box__footer
 
a
{
font-weight
:
normal
}
.form-full-field
 
.form-controls
 
input
[
type
=
"text"
]
,
.form-full-field
 
.form-controls
 
input
[
type
=
"search"
]
,
.form-full-field
 
.form-controls
 
input
[
type
=
"password"
]
,
.form-full-field
 
.form-controls
 
input
[
type
=
"email"
]
,
.form-full-field
 
.form-controls
 
textarea
,
.form-full-field
 
.form-controls
 
select
{
width
:
100%;
max-width
:
100%;
display
:
block
}
.form-full-field
 
.form-controls
 
input
[
type
=
"text"
]
.email-prepend
,
.form-full-field
 
.form-controls
 
input
[
type
=
"search"
]
.email-prepend
,
.form-full-field
 
.form-controls
 
input
[
type
=
"password"
]
.email-prepend
,
.form-full-field
 
.form-controls
 
input
[
type
=
"email"
]
.email-prepend
,
.form-full-field
 
.form-controls
 
textarea
.email-prepend
,
.form-full-field
 
.form-controls
 
select
.email-prepend
{
display
:
inline-block;
width
:
50%;
text-align
:
right
}
.ie7
 
.form-full-field
 
.form-controls
 
input
[
type
=
"text"
]
,
.ie7
 
.form-full-field
 
.form-controls
 
input
[
type
=
"search"
]
,
.ie7
 
.form-full-field
 
.form-controls
 
input
[
type
=
"password"
]
,
.ie7
 
.form-full-field
 
.form-controls
 
input
[
type
=
"email"
]
,
.ie7
 
.form-full-field
 
.form-controls
 
textarea
,
.ie7
 
.form-full-field
 
.form-controls
 
select
{
width
:
95%
}
@media only screen and (max-width:767px) {
	body {
		transition: all 0.5s;
		margin-top: -49px
	}
	body.search-open {
		margin-top: 0
	}
	body.modal-open {
		-webkit-transform: inherit;
		-ms-transform: inherit;
		transform: inherit;
		transition: inherit;
		margin-top: 0
	}
	body#fullSize, body.no-search, body#popup, body#loginPage, body#masks {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}
	.asset-strip {
		background: #fff !important
	}
	.asset-strip__title {
		padding: 0 !important
	}
	.asset-strip-images {
		padding: 0 !important;
		margin: 0 0 26px !important;
		border: none !important;
		border-radius: 0 !important
	}
	div.categoryList ul.catThumbs-portrait li {
		width: 30.91887%
	}
	div.categoryList ul.catThumbs-portrait>li:nth-child(4n+1) {
		clear: none
	}
	div.categoryList ul.catThumbs-portrait>li:nth-child(3n+1) {
		clear: left
	}
	ul.lightbox>li {
		width: 48.43333%
	}
	.toolbarActions {
		overflow: auto
	}
	.toolbar .search-this-cat {
		float: none;
		display: block;
		margin-top: 10px
	}
	.toolbar .search-box {
		width: 100%
	}
	#lightboxPage .toolbar .group-fixed-width {
		width: 100%;
		overflow: auto
	}
	#lightboxPage .group-no-border {
		padding: 0;
		margin-left: 0
	}
	#lightboxPage .group {
		margin-top: 10px
	}
	table.form input.file {
		width: 100%
	}
}

@media only screen and (max-width:430px) {
	#loginPage div.leftShadow, #registrationPage div.leftShadow {
		width: auto
	}
	#loginPage, #registrationPage {
		background: none !important
	}
	#loginPage h1, #registrationPage h1 {
		font-size: 1.6em
	}
	div.headShadow {
		margin-bottom: 0
	}
	div.categoryList ul.catThumbs-portrait li {
		width: 47.583019%
	}
	div.categoryList ul.catThumbs-portrait>li:nth-child(3n+1) {
		clear: none
	}
	div.categoryList ul.catThumbs-portrait>li:nth-child(odd) {
		clear: left
	}
	ul.lightbox>li {
		width: 100%
	}
	.toolbar-fixed-wrap {
		padding-bottom: 10px
	}
	.toolbar-fixed-wrap .group {
		display: block;
		float: none
	}
	.toolbar-fixed-wrap .group.group-no-border {
		padding-left: 0;
		margin: 0 0 1px 0
	}
	#head-links .linklist {
		clear: both;
		padding-top: 10px;
		margin-left: 0
	}
	.linklist--following li:first-child {
		padding-left: 0;
		border: none
	}
	.toolbar.search-results-toolbar .group {
		padding: 0;
		margin: 0 1.25em 0 0;
		border: none
	}
}

@media print {
	.pageBreak {
		page-break-after: always;
		border: 0;
		visibility: hidden;
		height: 1px !important;
		margin: 0
	}
	.printHide {
		display: none
	}
	.printOnly {
		display: block !important
	}
	div.pageWrapper {
		padding: 0;
		width: 100%;
		height: 100%;
		max-width: 100%;
		min-width: 100%;
		display: block
	}
	#mainCol {
		width: 100%;
		float: none;
		margin-left: 0
	}
	#content {
		margin-left: 0;
		width: 100%;
		float: none
	}
	#navCol, #topStrip, #topStrip.langSelect, div.headShadow, #logo, #hLinks,
		#footer, .header-search-bar {
		display: none
	}
	.sort-strip, #browsePage div.adminTabs, div.pager {
		display: none
	}
	ul.lightbox {
		float: none;
		display: block
	}
	#resultsPage div.foot {
		clear: both
	}
	#controlPanel, #compare h1 {
		display: none
	}
	tr, img {
		page-break-inside: avoid
	}
	h2, h3 {
		page-break-after: avoid
	}
	img {
		max-width: 100% !important
	}
}

#footer a {
	font-weight: normal
}

.box--published-lightbox {
	max-width: 1140px;
	width: auto;
	margin: auto auto 5.5em auto;
	top: 7%
}

@media
only
screen
and
(max-width:1024px)
{
.box--published-lightbox
{
top
:
3%;
margin
:
0
}
}
@media
only
screen
and
(max-width:430px)
{
.box--published-lightbox
{
top
:
0;
width
:
100%;
border-radius
:
0;
margin
:
0;
box-shadow
:
none;
min-width
:
320px
}
}
.box--published-lightbox .box__header {
	padding: 25px 40px;
	position: relative
}

@media
only
screen
and
(max-width:430px)
{
.box--published-lightbox
 
.box__header
{
height
:
auto
}
}
.box--published-lightbox .box__header .logo img {
	max-height: 50px
}

@media
only
screen
and
(max-width:430px)
{
.box--published-lightbox
 
.box__header
 
.logo
{
text-align
:
center;
display
:
block
}
}
.box--published-lightbox .box__header .button {
	position: absolute;
	right: 40px;
	top: 45%;
	top: calc(50% - 16px)
}

.box--published-lightbox .box__header .button [class^="icon-"] {
	padding-right: 8px
}

@media
only
screen
and
(max-width:430px)
{
.box--published-lightbox
 
.box__header
 
.button
{
display
:
none
}
}
.box--published-lightbox .box__inner {
	padding: 40px 40px 0 40px;
	background: #f4f4f4;
	background: rgba(244, 244, 244, 0.65)
}

.box--published-lightbox .box__footer {
	text-align: center;
	padding: 15px 40px
}

.box--published-lightbox .box__footer a {
	font-weight: normal
}

.form-full-field .form-controls input[type="text"], .form-full-field .form-controls input[type="search"],
	.form-full-field .form-controls input[type="password"],
	.form-full-field .form-controls input[type="email"], .form-full-field .form-controls textarea,
	.form-full-field .form-controls select {
	width: 100%;
	max-width: 100%;
	display: block
}

.form-full-field .form-controls input[type="text"].email-prepend,
	.form-full-field .form-controls input[type="search"].email-prepend,
	.form-full-field .form-controls input[type="password"].email-prepend,
	.form-full-field .form-controls input[type="email"].email-prepend,
	.form-full-field .form-controls textarea.email-prepend,
	.form-full-field .form-controls select.email-prepend {
	display: inline-block;
	width: 50%;
	text-align: right
}

.ie7 .form-full-field .form-controls input[type="text"], .ie7 .form-full-field .form-controls input[type="search"],
	.ie7 .form-full-field .form-controls input[type="password"], .ie7 .form-full-field .form-controls input[type="email"],
	.ie7 .form-full-field .form-controls textarea, .ie7 .form-full-field .form-controls select
	{
	width: 95%
}
@media
only
screen
and
(max-width:767px)
{
body
{
transition
:
all
0.5s;
margin-top
:
-49px
}
body
.search-open
{
margin-top
:
0
}
body
.modal-open
{
-webkit-transform
:
inherit;
-ms-transform
:
inherit;
transform
:
inherit;
transition
:
inherit;
margin-top
:
0
}
body
#fullSize
,
body
.no-search
,
body
#popup
,
body
#loginPage
,
body
#masks
{
-webkit-transform
:
translateY(
0
);
-ms-transform
:
translateY(
0
);
transform
:
translateY(
0
)
}
.asset-strip
{
background
:
#fff
!important
}
.asset-strip__title
{
padding
:
0
!important
}
.asset-strip-images
{
padding
:
0
!important;
margin
:
0
0
26px
!important;
border
:
none
!important;
border-radius
:
0
!important
}
div
.categoryList
 
ul
.catThumbs-portrait
 
li
{
width
:
30.91887%
}
div
.categoryList
 
ul
.catThumbs-portrait
>
li
:nth-child(4n+1)
{
clear
:
none
}
div
.categoryList
 
ul
.catThumbs-portrait
>
li
:nth-child(3n+1)
{
clear
:
left
}
ul
.lightbox
>
li
{
width
:
48.43333%
}
.toolbarActions
{
overflow
:
auto
}
.toolbar
 
.search-this-cat
{
float
:
none;
display
:
block;
margin-top
:
10px
}
.toolbar
 
.search-box
{
width
:
100%
}
#lightboxPage
 
.toolbar
 
.group-fixed-width
{
width
:
100%;
overflow
:
auto
}
#lightboxPage
 
.group-no-border
{
padding
:
0;
margin-left
:
0
}
#lightboxPage
 
.group
{
margin-top
:
10px
}
table
.form
 
input
.file
{
width
:
100%
}
}
@media
only
screen
and
(max-width:430px)
{
#loginPage
 
div
.leftShadow
,
#registrationPage
 
div
.leftShadow
{
width
:
auto
}
#loginPage
,
#registrationPage
{
background
:
none
!important
}
#loginPage
 
h1
,
#registrationPage
 
h1
{
font-size
:
1.6em
}
div
.headShadow
{
margin-bottom
:
0
}
div
.categoryList
 
ul
.catThumbs-portrait
 
li
{
width
:
47.583019%
}
div
.categoryList
 
ul
.catThumbs-portrait
>
li
:nth-child(3n+1)
{
clear
:
none
}
div
.categoryList
 
ul
.catThumbs-portrait
>
li
:nth-child(odd)
{
clear
:
left
}
ul
.lightbox
>
li
{
width
:
100%
}
.toolbar-fixed-wrap
{
padding-bottom
:
10px
}
.toolbar-fixed-wrap
 
.group
{
display
:
block;
float
:
none
}
.toolbar-fixed-wrap
 
.group
.group-no-border
{
padding-left
:
0;
margin
:
0
0
1px
0
}
#head-links
 
.linklist
{
clear
:
both;
padding-top
:
10px;
margin-left
:
0
}
.linklist--following
 
li
:first-child
{
padding-left
:
0;
border
:
none
}
.toolbar
.search-results-toolbar
 
.group
{
padding
:
0;
margin
:
0
1.25em
0
0;
border
:
none
}
}
@media
print
{
.pageBreak
{
page-break-after
:
always;
border
:
0;
visibility
:
hidden;
height
:
1px
!important;
margin
:
0
}
.printHide
{
display
:
none
}
.printOnly
{
display
:
block
!important
}
div
.pageWrapper
{
padding
:
0;
width
:
100%;
height
:
100%;
max-width
:
100%;
min-width
:
100%;
display
:
block
}
#mainCol
{
width
:
100%;
float
:
none;
margin-left
:
0
}
#content
{
margin-left
:
0;
width
:
100%;
float
:
none
}
#navCol
,
#topStrip
,
#topStrip
.langSelect
,
div
.headShadow
,
#logo
,
#hLinks
,
#footer
,
.header-search-bar
{
display
:
none
}
.sort-strip
,
#browsePage
 
div
.adminTabs
,
div
.pager
{
display
:
none
}
ul
.lightbox
{
float
:
none;
display
:
block
}
#resultsPage
 
div
.foot
{
clear
:
both
}
#controlPanel
,
#compare
 
h1
{
display
:
none
}
tr
,
img
{
page-break-inside
:
avoid
}
h2
,
h3
{
page-break-after
:
avoid
}
img
{
max-width
:
100%
!important
}
}